	<div class="container" id="Policy">
	
				  

	<!-- Header -->
	<div>
		<h2 class="text-center">Policies</h2>
		<div class="well"><p>Tell us about your deposit and cancellation policies now, so you configure your rate plans later.</p></div>
	</div>

	
	<!-- Deposits -->
	<div class="box">
		<h3 class="text-left">Deposits</h3>

		<!--  APPEAR WHEN DEPOSITS ARRAY IS EMPTY  -->
		<div class="well" ng-if="!deposits && depositPolicies.length == 0"><p class="bold">Please add your deposit policies.</p></div>
		
		<!--  APPEAR WHEN DEPOSITS ARRAY IS NOT EMPTY  -->	
		<div ng-if="depositPolicies.length != 0" ng-repeat="depositArr in depositPolicies track by $index">
			<div class="well" style="position: relative;">
				<p><span class="policyRepeat">{{depositArr.name}}</span> &nbsp({{depositArr.amount}}% deposit)</p>
				<button  class="Edit btn btn-sm btn-info" ng-click="editDeposit($index)">edit</button>
				<button  class="Delete btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteDeposit" ng-click="findDepositArray($index)">delete</button>
			</div>
		</div>

		<!-- DATABASE ERROR MODAL  -->
		<div class="modal fade" id="databaseError" role="dialog">
				 <div class="modal-dialog">
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        <div class="modal-body">
				          <div class="containter">
				          	<div class="well">
				          		<p>Error: database problem. Please try again latter</p>
				          	</div>
				          </div>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Cancel</button>
				        </div>
				      </div>
				</div>
		</div>

			<!-- DELETE MODAL -->
			<div class="modal fade" id="deleteDeposit" role="dialog">
				    <div class="modal-dialog">
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title text-center">Are your sure you want to delete this policy?</h4>
				        </div>
				        <div class="modal-body">
				          <div class="containter">
				          	<div class="well">
				          		<p>Do you want to delete this deposit policy?</p>
				          		<div ng-if="relatedRatePlan.name.length > 0">
				          			<p>This policy is related to the following rate plans. They also will be deleted:</p>
				          			<div ng-repeat="rateName in relatedRatePlan.name">
				          				<p>{{rateName}}</p>
				          			</div>
				          		</div>
				          		<div ng-if="relatedRatePlan.name.length == 0">
				          			<p>This policy is not related to any rate plans yet</p>
				          		</div>
				          	</div>
				          </div>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Cancel</button>
				          <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right;" ng-click="deleteDeposit(deposit.toDelete)">Delete</button>
				        </div>
				      </div>
				     </div>
				  </div>


	

		<!-- DEPOSITS FORM -->
		<div class="well" ng-if="deposits">
			<form class="form-horizontal">
				<div class="row">
					<div class="col-sm-2">
					<label for="#cancellationName">Policy name</label>
					</div>
					<div class="col-sm-6">
					<input type="text" class="form-control input-md" placeholder="Choose a meaningful name" ng-model="deposit.policyName" size="55">
					</div>
				</div>
				<!-- <label for="#policyName">Policy name</label>
				<input  class="formInput" type="text" id="policyName" ng-model="deposit.policyName" placeholder="Choose a meaningful name" size="55"> -->
				<br><br>
				<label for="#deposit.amount">Deposit amount</label>
				<input class="formInput" type="text" value="{{deposit.amount}}%" size="5" id="deposit.amount" readonly>
				<br>
				<div class="form-group form-group--range">
        		 	<span>15% &nbsp </span><input type="range" ng-model="deposit.amount" class="rangeInput" min="15" max="100"><span>&nbsp 100%</span>
       			</div>
				<br>
				<p><span class="bold">To be taken</span> at time of booking</p>
				<br>
				<div class="formEnd" ng-if="!depositAdditionalPayment">
						<button class="btn btn-sm btn-info" ng-if="deposit.amount < 100" ng-click="toggleDeposits('additional')">Take addtional payment +</button>
						<button ng-if="deposit.amount >= 100" class="btn btn-sm btn-info" style="visibility: hidden;">XYZ</button>
					<div class="formEndBtn">
							<button class="btn btn-sm btn-danger" ng-click="cancelDeposit()">Cancel</button>
							<button class="btn btn-sm btn-success" ng-if="!editDep" ng-click="addDeposit(false)">Save</button>
							<button class="btn btn-sm btn-success" ng-if="editDep" ng-click="addDeposit(true)">Edit</button>
					</div>
				</div>

				<!-- ADDITIONAL PAYMENT 1-->
				<div id="depositsAdditional" ng-if="depositAdditionalPayment">
					<h4 class="lineThrough"><span>Additional payment 1</span></h4>
					<label for="#additionalAmount">Additional amount</label>
					<input type="text" size="5" id="additionalAmount" class="formInput" value="{{deposit.additionalPaymentAmount}}%" readonly>
					<br>
					<div class="form-group form-group--range">
        		 		<span>0% &nbsp </span>
        		 		<input type="range"  class="rangeInput" value="0" min="0" max="{{100 - deposit.amount}}" ng-model="deposit.additionalPaymentAmount">
        		 		<span> &nbsp {{100 - deposit.amount}}%</span>
       				</div>
					<br>
					<label for="#toBeTaken">To be taken</label>
					<input type="text" size="5" id="toBeTaken" class="formInput" value="0" ng-model="deposit.daysBefore"> days before check-in
					<br><br>
					<a ng-click="toggleDeposits('additional')">Remove this additional payment</a>
					<br><br>
					<div class="formEnd" ng-if="!depositAdditionalPayment1">
							<button class="btn btn-sm btn-info" ng-if="deposit.amount + deposit.additionalPaymentAmount < 100" ng-click="toggleDeposits('additional1')">Take addtional payment +</button>
							<button class="btn btn-sm btn-info" style="visibility: hidden;" ng-if="deposit.amount + deposit.additionalPaymentAmount >= 100">XYZ</button>

						<div class="formEndBtn">
							<button class="btn btn-sm btn-danger" ng-click="cancelDeposit()">Cancel</button>
							<button class="btn btn-sm btn-success" ng-if="!editDep" ng-click="addDeposit(false)">Save</button>
							<button class="btn btn-sm btn-success" ng-if="editDep" ng-click="addDeposit(true)">Edit</button>
						</div>
					</div>
				</div>
				
				<!-- ADDITIONAL PAYMENT 2-->
				<div id="depositsAdditional" ng-if="depositAdditionalPayment1">
					<h4 class="lineThrough"><span>Additional payment 2</span></h4>
					<label for="#additionalAmount">Additional amount</label>
					<input type="text" size="5" id="additionalAmount" class="formInput" value="{{deposit.additionalPaymentAmount1}}%" readonly>
					<br>
					<div class="form-group form-group--range">
        		 		<span>0% &nbsp </span>
        		 		<input type="range"  class="rangeInput" value="0" min="0" max="{{100 - (deposit.amount + deposit.additionalPaymentAmount)}}" ng-model="deposit.additionalPaymentAmount1">
        		 		<span> &nbsp {{100 - (deposit.amount + deposit.additionalPaymentAmount)}}%</span>
       				</div>
					<br>
					<label for="#toBeTaken">To be taken</label>
					<input type="text" size="5" id="toBeTaken" class="formInput" value="0" ng-model="deposit.daysBefore1"> days before check-in
					<br><br>
					<a ng-click="toggleDeposits('additional1')">Remove this additional payment</a>
					<br><br>
					<div class="formEnd">
							<button class="btn btn-sm btn-info" style="visibility: hidden;">XYZ</button>
						<div class="formEndBtn">
							<button class="btn btn-sm btn-danger" ng-click="cancelDeposit()">Cancel</button>
							<button class="btn btn-sm btn-success" ng-if="!editDep" ng-click="addDeposit(false)">Save</button>
							<button class="btn btn-sm btn-success" ng-if="editDep" ng-click="addDeposit(true)">Edit</button>
						</div>
					</div>
				</div>
			</form>
		</div> 

		<button class="btn btn-md btn-success customBtn" ng-if="!deposits" ng-click="toggleDeposits('all')">Add policy +</button>
		
	</div><!-- END OF THE DEPOSITS -->

	
	<!-- Cancellations -->
	<div class="box">
		<h3 class="text-left">Cancellations</h3>
		<div class="well">
			<p><span class="policyRepeat"></span>&nbsp (999 days before = 100% fee)</p>
		</div>

		<!-- DISPLAY ALL CANCELLATION POLICIES ADDED BY USER-->
		<div ng-repeat="cancellation in cancellations track by $index" style="position: relative;">
			<div class="well">
				<p>
				<span class="policyRepeat">{{cancellation.name}}</span>
					<span ng-repeat="rules in cancellation.rule track by $index">
						<span ng-if="$index == 0">
							<span ng-repeat="(key, val) in rules track by $index">
								<span ng-if="$index == 0">({{val}} days before =</span>
								<span ng-if="$index == 1">{{val}}</span>
								<span ng-if="$index == 2">{{val}} fee)</span>
							</span>
						</span>
					</span>

				<button  class="Edit btn btn-sm btn-info" ng-click="editCancellation($index)">edit</button>
				<!-- <button  class="Delete btn btn-sm btn-danger" data-toggle="modal" ng-click="cancellationForm.toDelete = $index"data-target="#deleteCancellation">delete</button> -->
				<button  class="Delete btn btn-sm btn-danger" data-toggle="modal" ng-click="findCancellationArray($index)"data-target="#deleteCancellation">delete</button>
			</div>
		</div> 
			

			<!-- DELETE CANCELLATION -->
		<div class="modal fade" id="deleteCancellation" role="dialog">
				    <div class="modal-dialog">
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title text-center">Are your sure you want to delete this policy?</h4>
				        </div>
				        <div class="modal-body">
				          <div class="containter">
				          	<div class="well">
				          		<p>Do you want to delete this deposit policy?</p>
				          		<div ng-if="relatedRatePlan.name.length > 0">
				          			<p>This policy is related to the following rate plans. They also will be deleted:</p>
				          			<div ng-repeat="rateName in relatedRatePlan.name">
				          				<p>{{rateName}}</p>
				          			</div>
				          		</div>
				          		<div ng-if="relatedRatePlan.name.length == 0">
				          			<p>This policy is not related to any rate plans yet</p>
				          		</div>
				          	</div>
				          </div>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Cancel</button>
				          <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right;" ng-click="deleteCancellation(cancellationForm.toDelete)">Delete</button>
				        </div>
				      </div>
				     </div>
				 </div>

		
	<!-- CANCELLATION FORM -->
	<div class="well" ng-if="cancellation">
		<form class="form-horizontal">
			<div class="row">
				<div class="col-sm-2">
				<label for="#cancellationName">Policy name</label>
				</div>
				<div class="col-sm-6">
				<input type="text" class="form-control input-md" placeholder="Choose a meaningful name" ng-model="cancellationForm.policyName" size="55">
				</div>
			</div>
			<br><br>
			<!-- REPEATED RULES -->
			<div ng-repeat="i in getRulesNumber(countRules) track by $index">
				<div class="lineThrough"><span>Rule {{$index+1}}</span></div>
				<label for="#cancellationPeriod">Cancellation period</label> &nbsp
				<input type="number" class="formInput" value="0" size="4" ng-model="cancellationForm.period[$index]"> &nbsp days before arrival
				<br>
				<label for="#cancellationAmount">Cancellation amount</label>
				<input type="number" class="formInput" ng-model="cancellationForm.amount[$index]" value="0" size="4">
				<select name="cancellationAmount" ng-model="cancellationForm.type[$index]">
					<option value="%" >% of booking amount</option>
					<option value="£">£ (GBP)</option>
					<option value="nights">number of nights</option>
				</select>
				<br><br>
			</div>

				<div class="formEnd">
							<button class="btn btn-sm btn-info" ng-click="addRule()">Add rule +</button>
						<div class="formEndBtn">
							<button class="btn btn-sm btn-danger" ng-click="toggleCancellations()">Cancel</button>
							<button ng-if="editedCancellation" class="btn btn-sm btn-success" ng-click="saveCancellation(true)">Edit</button>
							<button ng-if="!editedCancellation" class="btn btn-sm btn-success" ng-click="saveCancellation(false)">Save</button>
						</div>
				</div>
			<br>
		</form>
	</div>

	<button class="btn btn-md btn-success customBtn" ng-if="!cancellation" ng-click="toggleCancellations()">Add policy +</button>
</div>
	
	<!-- Children -->
	<div class="box">
		<h3 class="text-left">Children</h3>
		<div class="well">
			<p class="bold">Do you welcome children? &nbsp &nbsp 
			<button class="btn btn-sm  yesChildren" ng-click="addChildren(true)">yes</button>
			<button class="btn btn-sm  noChildren" ng-click="addChildren(false)">no</button></p>
					
				<!-- 	CHILDREN FORM -->
				<div ng-show="kids">
					Is there a minimum age? &nbsp
				
					<select  id="selectAge" ng-model="childrenForm.selectedAge" ng-change="watchChildAge()">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
					</select>
				</div>
		</div>
		
		<!-- DISPLAY CHILDREN POLICIES -->
		<div class="well" ng-if="children.policies.length != 0" ng-repeat="childrenType in children.policies track by $index" style="position: relative;">
			<span class="policyRepeat">{{childrenType.name}}</span> &nbsp (Aged {{childrenType.ageRange}})
			<button  class="Edit btn btn-sm btn-info" ng-click="editChildPolicy($index)">edit</button>
				<button  class="Delete btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteChildrenPolicy" ng-click="childrenForm.policyIndex = $index">delete</button>
		</div>
		
		<!-- DELETE CHILDREN POLICY MODAL -->
		<div class="modal fade" id="deleteChildrenPolicy" role="dialog">
				    <div class="modal-dialog">
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title text-center">Are your sure you want to delete this child type?</h4>
				        </div>
				        <div class="modal-body">
				          <div class="containter">
				          	<div class="well">
				          		<p>This policy is being used by the following rate plans:</p>
				          		<p>If you delete this policy, you will need to update these rate plans.</p>
				          	</div>
				          </div>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Cancel</button>
				          <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right;" ng-click="deleteChildPolicy(childrenForm.policyIndex)">Delete</button>
				        </div>
				      </div>
				     </div>
				 </div>


		<!-- ADD CHILDREN POLICY FORM -->
		<div class="well collapse childrenCollapse">
			<form class="form-horizontal">
				<label for="#childType">Child type</label>
				<input type="text" id="childType" class="formInput" placeholder="e.g. Young adult" size="25" ng-model="childrenForm.name">
				<br><br>
				<label for="#ageLimits">Age limits</label>
				<input type="text" id="ageLimits" class="formInput" size="7"  readonly>
				<br><br>
				<!-- DOUBLE RANGE SLIDER JQUERY INPUT -->
				<div class="form-group form-group--range">
        		 	<span>{{childrenForm.selectedMinAgeRange}} &nbsp&nbsp </span><div id="rangeslider" class="rangeInput"></div><span>&nbsp 17</span>
       			</div>
       			<div class="formEnd">
							<button class="btn btn-sm btn-info" style="visibility: hidden;"></button>
						<div class="formEndBtn">
							<button class="btn btn-sm btn-danger" ng-click="cancelChildPolicy()">Cancel</button>
							<button class="btn btn-sm btn-success" ng-if="!childrenForm.ifEdit" ng-click="saveChildrenPolicy(false)">Save</button>
							<button class="btn btn-sm btn-success" ng-if="childrenForm.ifEdit" ng-click="saveChildrenPolicy(true)">Edit</button>
						</div>
				</div>
			</form>
		</div>

		<button class="btn btn-md btn-success customBtn childBtn" ng-show="children.policies.length > 0">Add child type +</button>
	</div>

	<br><br>
	<button class="btn btn-lg btn-success customBtn" ng-click="sendData()">Continue > </button>
	<br><br><br>

	

	<script type="text/javascript">

	$(document).ready(function(){
			var minAge = 0;

			$('#ageLimits').val('0 - 17');
			
	
			// ACTIVATE BOOTSTRAP COLLAPSE
				$('.childrenCollapse').collapse({
				  toggle: false
				})

				$('.yesChildren, .childBtn').on('click',function(){
					$('.childrenCollapse').collapse('show');
				});

				$('.noChildren').on('click',function(){
					$('.childrenCollapse').collapse('hide');
				});

			// DOUBLE SLIDER


		    	var a = $('#childAge').val();
				$('#rangeslider').slider({
				    range: true,
				    min: minAge,
				    max: 17,
				    values: [ minAge, 17 ],
				    slide: function( event, ui ) {
				      $('#ageLimits').val(ui.values[0]+" - "+ui.values[1]);
				    }
				  });

			// UPDATE SLIDER VALUE

				$('#selectAge').on('change',function(){
				// find a maximum range if user pointed it before
				var maxAge = eval($('#ageLimits').val().slice(3, 6));

				minAge = $('#selectAge').val();
					if(minAge == "none"){minAge = 0};
					$('#rangeslider').slider( "option", "values", [ minAge, maxAge ] );
					$('#ageLimits').val(minAge + " - "+ 17);

				});
					
	});
    </script>		
</div>









