<div class="container" id="RatePlan">
	<!-- header -->

	<div >
		<h2 class="text-center">Rate plans</h2>
		<div class="well"><p>Create a rate plan to the assign to your rooms.</p></div>
	</div>

	<!-- display current rate plans -->
	<div ng-if="ratePlan.length > 0 && !ratePlanVisible">
		<h2 class="text-center">Rate plans</h2>
		<div class="well ratePlanHeader">
			<h4>You have added {{ratePlan.length}} rate <span ng-if="ratePlan.length == 1">plan</span> <span ng-if="ratePlan.length > 1">plans</span> for your property.</h4>
		</div>
		<br><br>
		<div ng-repeat="plan in ratePlan track by $index">
			<div ng-class="(plan.inherit) ? ['wellInherit'] : ['well']" style="position: relative;">
					<p class="policyRepeat"><span ng-if="plan.inherit">↪</span>{{plan.name}}</p>
					<div class="row">
						<div class="col-lg-6">
							{{plan.deposit.name}} 
							<br>
							{{plan.cancellation.name}} 
							<br>
							{{plan.meal}} 
						</div>

						<div class="col-lg-6">
								<div ng-repeat="room in ratePlan[$index].rooms">
							 		{{room.name}}
							 	</div>
						</div>
					</div>
					<button  class="Edit btn btn-sm btn-info" ng-click="editRatePlan($index)">edit</button>
					<button  class="Delete btn btn-sm btn-danger" data-toggle="modal" data-target="#deletePlan" ng-click="findRatePlan($index)">delete</button>
					<br>
				</div>
		</div>
	</div>
	
	<!-- DATABASE ERROR MODAL  -->
		<div class="modal fade" id="databaseError" role="dialog">
				 <div class="modal-dialog">
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        <div class="modal-body">
				          <div class="containter">
				          	<div class="well">
				          		<p>Error: database problem. Please try again latter</p>
				          	</div>
				          </div>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Cancel</button>
				        </div>
				      </div>
				</div>
		</div>

	<!-- delete modal -->

		<div class="modal fade" id="deletePlan" role="dialog">
				    <div class="modal-dialog">
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title text-center">Are your sure you want to delete this policy?</h4>
				        </div>
				        <div class="modal-body">
				          <div class="containter">
				          	<div class="well">
				          		<p>This rate plan is used on the Rates calendar.</p>
								<p>Any rates added to the calendar for this rate plan will also be deleted. </p>
				          	</div>
				          </div>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Cancel</button>
				          <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right;" ng-click="deleteRatePlan(false)">Delete</button>
				        </div>
				      </div>
				     </div>
		 	 </div>
	
	<button class="btn btn-md btn-success"  ng-show="!ratePlanVisible && ratePlan.length == 0" ng-click="ratePlanVisible = !ratePlanVisible">Create rate plan +</button>

	<div ng-show="!ratePlanVisible && ratePlan.length > 0">
		<button class="btn btn-lg btn-success customBtn" ng-click="ratePlanVisible = !ratePlanVisible" style="left: 15px;"> Create rate plan + </button>
		<!-- <button class="btn btn-lg btn-success customBtn" ng-click="goRates()">Continue > </button> -->
	</div>

	<!-- rate plan form -->
	<div ng-show="ratePlanVisible">
		<h2 class="text-center">Create rate plan</h2>
		<form>
			<div class="well">
				<div class="row">
					<div class="col-sm-2">
						<label for="#cancellationName">Rate plan name</label>
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control input-md" placeholder="Choose a meaningful name" ng-model="ratePlanForm.name" size="55">
					</div>
				</div>
				<!-- <label for="rateName">Rate plan name &nbsp &nbsp </label>
				<input type="text" placeholder="e.g. Best available rate" size="50" ng-model="ratePlanForm.name">
 -->			</div>
			<div class="well" ng-if="ratePlan.length > 0 && isEdited == 'false'">
				<p class="bold">Use rates from another rate plan?</p>
				<button class="btn  btn-md inherit" ng-click="ratePlanForm.yes = true; inheirtBtn(true)">Yes</button>
				<button class="btn  btn-md inherit" ng-click="ratePlanForm.yes = false; inheirtBtn(false)">No</button>
				<div ng-show="ratePlanForm.yes">
				<br><br>
					<p class="bold">Choose parent rate plan</p>
					<select ng-options="policy as policy.name for policy in ratePlan" ng-model="ratePlanForm.inheritRate" style="max-width:120%;" ng-change="inherit(ratePlanForm.inheritRate)"></select>
					<br><br>

					<div ng-if="ratePlanForm.inherit">
						<p class="bold">Rates for this plan will be</p>
						<input type="text" ng-model="ratePlanForm.inheritAmount" size="5">
						<select ng-model="ratePlanForm.inheritType">
							<option value="percentMore">% more than parent rate</option>
							<option value="percentLess">% less than parent rate</option>
							<option value="poundMore">£(GBP) more than parent rate</option>
							<option value="poundLess">£(GBP) less than parent rate</option>
						</select>
					</div>
				
				</div>
			</div>

			<div class="well">
				<div class="row">
			<!-- 	<div id="dragAndDrop" class="col-sm-6 col-sm-offset-3">
				<br>
					<button class="btn dragAndDropBtn" ng-bind-html="ratePlanForm.deposit.name|| 'Deposit Policy <br> (select one below)'"></button>

					<button class="btn  dragAndDropBtn" ng-bind-html="ratePlanForm.cancellation.name|| 'Cancellation Policy <br> (select one below)'"></button>
					<br><br>
					<button class="btn dragAndDropBtn" style="margin-left: 105px;" ng-bind-html="ratePlanForm.meal|| 'Meal Policy <br> (select one below)'"></button>
				<p></p>
				</div> -->
				</div>
				<div class="row">
					<div class="col-sm-4">
						<h4>Deposit policies</h4>
						<div ng-repeat="deposit in policies.deposit track by $index">
							<button class="btn btn-lg depositPolicy" ng-click="assingRatePolicy('deposit',$index)">{{deposit.name}}</button>
							<br><br>
						</div>
					</div>
					<div class="col-sm-4">
						<h4>Cancellation policies</h4>
						<div ng-repeat="cancellation in policies.cancellation track by $index">
							<button class="btn btn-lg cancellationPolicy" ng-click="assingRatePolicy('cancellation',$index)">{{cancellation.name}}</button>
							<br><br>
						</div>
					</div>
					<div class="col-sm-4">
						<h4>Meal policies</h4>
						<button class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'No meals'; assingRatePolicy('meal',0)">No meals</button>
						<br><br>
						<button  class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'Breakfast'; assingRatePolicy('meal',1)" >Breakfast</button>
						<br><br>
						<button class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'Half board'; assingRatePolicy('meal',2)" >Half board</button>
						<br><br>
						<button class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'Full board'; assingRatePolicy('meal',3)" >Full board</button>
						<br><br>
						<button  class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'All inclusive'; assingRatePolicy('meal',4)" >All inclusive</button>
					</div>
				</div>
			</div>
			<!-- room pricing -->
			<div class="well" id="pricing">
				<h3 class="bold">Select pricing structure</h3>
				<br>
					<div class="row">
						<div class="col-sm-6 centerButtons">
							<button class="btn btn-lg" id="room" ng-click="roomRatePlan('room')">Per room per night</button>
						</div>
						<div class="col-sm-6 centerButtons">
							<button class="btn btn-lg" id="person" ng-click="roomRatePlan('person')">Per person per night</button>
						</div>
					</div>
				
				<br>
			</div>
			<!-- booking rules -->
			<div ng-show="bookingRulesVisible">
				<div class="well" id="bookingRules">
					<h3 class="bold">Apply a booking rule</h3>
					<br>
					<div class="row">
						<div class="col-sm-4 centerButtons">
							<button class="btn btn-lg" ng-click="bookingRules(0)">Last Minute</button>
						</div>
						<div class="col-sm-4 centerButtons">
							<button class="btn btn-lg" ng-click="bookingRules(1)">Early Bird</button>
						</div>
						<div class="col-sm-4 centerButtons">
							<button class="btn btn-lg" ng-click="bookingRules(2)">Date Bound</button>
						</div>
					</div>
				</div>

				<div class="well" ng-if="earlyBird">
					<br><br>
					Bookable only up until 
					<input type="text" size="4" ng-model="calendar.days">
					days prior to check-in
					<br><br>
					Active from <input type="date" ng-model="calendar.now"> to <input type="date" ng-model="calendar.to">
					<br><br>
					<button class="btn btn-success btn-sm" ng-click="addBookingRule('Early Bird')">Apply</button>
					<button class="btn btn-danger btn-sm" ng-click="cancelBookingRule()">Cancel</button>

				</div>

				<div class="well" ng-if="lastMinute">
					<br><br>
					Bookable only up until 
					<input type="text" size="4" ng-model="calendar.days">
					days prior to check-in
					<br><br>
					Active from <input type="date" ng-model="calendar.now"> to <input type="date" ng-model="calendar.to">
					<br><br>
					<button class="btn btn-success btn-sm" ng-click="addBookingRule('Last Minute')">Apply</button>
					<button class="btn btn-danger btn-sm" ng-click="cancelBookingRule()">Cancel</button>
				</div>

				<div class="well" ng-if="dateBound">
					<br><br>
					Stay dates <input type="date" ng-model="calendar.now"> to <input type="date" ng-model="calendar.to">
					<br><br><br>
					Book dates <input type="date" ng-model="calendar.bookNow"> to <input type="date" ng-model="calendar.bookTo">
					<br><br>
					<button class="btn btn-success btn-sm" ng-click="addBookingRule('Date Bound')">Apply</button>
					<button class="btn btn-danger btn-sm" ng-click="cancelBookingRule()">Cancel</button>
				</div>
				
			</div>

			<div ng-show="!bookingRulesVisible">
				<div class="well" style="position: relative;">
					<h4 class="pull-left">{{ratePlanForm.bookingRule.name}}</h4>
					<button class="Edit btn btn-sm btn-info" ng-click="editBookingRule(ratePlanForm.bookingRule.name)">edit</button>
					<button class="Delete btn btn-sm btn-danger" ng-click="deleteBookingRule()">delete</button>
					<br><br>
				</div>
			</div>

			<div class="well" >
				<h3>Apply this rate plan to your rooms</h3>
				<div class="row">
				<div class="col-xs-12">
				<button class="btn btn-lg" id="allRoomsBtn" style="margin-left: 20px"ng-click="chooseRoom('all')">All rooms</button>
				<br><br>
				<div ng-repeat="room in roomsData track by $index">
					<button class="btn btn-lg roomsBtn" style="float: left; margin-left: 20px; margin-bottom: 10px;" ng-click="chooseRoom($index)">{{room.name}}</button>
				</div>
				</div>
				</div>
				<br>
			</div>
		</form>
		<button class="btn btn-lg btn-success customBtn" ng-click="cleanForm()" style="left: 15px;"> < Rate plans </button>
		<button class="btn btn-lg btn-success customBtn" ng-click="saveRatePlan()"> Save </button>
		<br><br>
	</div> <!-- end of the form -->

</div>
