<div class="container" id="Rates" ng-if="visibility">
	<!-- -->
	<!-- initialize popovers for min-max length stay inputs -->
	<!-- -->
	<script>
		$(document).ready(function(){
			$('.popOver').popover({
			html: true,
			placement: "bottom"
			});
		});
	</script>

	<div id="ratesHead">
		<h2 class="text-center bold" >Rates<small> (£ GBP)</small></h2>
		<span class="pull-right bold" ng-click="openSeasons()">Seasons +</span>
		<br>
	</div>
	<!-- RATE PLAN EDIT PANEL -->
	<div ng-show="!rateRulesVisible">
		<h2 class="text-center">Edit rate plan - {{ratePlanHeadline}}</h2>
		<form>
			<div class="well">
				<label for="rateName">Rate plan name &nbsp &nbsp </label>
				<input type="text" placeholder="e.g. Best available rate" size="50" ng-model="ratePlanForm.name">
			</div>

			<!-- <div class="well">
				<p class="bold">How are the rates calculated?</p>
				<button class="btn btn-md perPolicy" id="room" ng-click="roomRatePlan('room')">Per room per night</button>
				<button class="btn btn-md perPolicy" id="person" ng-click="roomRatePlan('person')">Per person per night</button>
			</div> -->

			<div class="well">
				
				<!-- <div id="dragAndDrop" class="text-center">
				<br>
					<button class="btn btn-success dragAndDropBtn" >{{ratePlanForm.deposit.name}}</button>
					ng-bind-html="ratePlanForm.deposit || 'Deposit Policy <br> (select one below)'"
					<button class="btn  btn-success dragAndDropBtn">{{ratePlanForm.cancellation.name}}</button>
					<br><br>
					<button class="btn btn-success dragAndDropBtn">{{ratePlanForm.meal}}</button>
				<p></p>
				</div> -->
				<div class="row">
					<div class="col-lg-4">
						<h4>Deposit policies</h4>
						<div ng-repeat="deposit in deposits track by $index">
							<button class="btn btn-lg depositPolicy" ng-click="assingRatePolicy('deposit',$index)">{{deposit.name}}</button>
							<br><br>
						</div>
					</div>
					<div class="col-lg-4">
						<h4>Cancellation policies</h4>
						<div ng-repeat="cancellation in cancellations track by $index">
							<button class="btn btn-lg cancellationPolicy" ng-click="assingRatePolicy('cancellation',$index)">{{cancellation.name}}</button>
							<br><br>
						</div>
					</div>
					<div class="col-lg-4">
						<h4>Meal policies</h4>
						<button class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'No meals'; assingRatePolicy('meal',0)">No meals</button>
						<br><br>
						<button  class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'Breakfast'; assingRatePolicy('meal',1)" >Breakfast</button>
						<br><br>
						<button class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'Half board'; assingRatePolicy('meal',2)" >Half board</button>
						<br><br>
						<button class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'Full board'; assingRatePolicy('meal',3)" >Full board</button>
						<br><br>
						<button  class="btn btn-lg mealPolicy" ng-click="ratePlanForm.meal = 'All inclusive'; assingRatePolicy('meal',4)" >All inclusive</button>
					</div>
				</div>
			</div>

			<div class="well" id="pricing">
				<h3 class="bold">Select pricing structure</h3>
				<br>
					<div class="row">
						<div class="col-sm-6 centerButtons">
							<button class="btn btn-lg perPolicy" id="room" ng-click="roomRatePlan('room')">Per room per night</button>
						</div>
						<div class="col-sm-6 centerButtons">
							<button class="btn btn-lg perPolicy" id="person" ng-click="roomRatePlan('person')">Per person per night</button>
						</div>
					</div>
				
				<br>
			</div>

				<!-- booking rules -->
				<div ng-show="bookingRulesVisible">
				<div class="well" id="bookingRules">
					<h3 class="bold">Apply a booking rule</h3>
					<br>
					<div class="row">
						<div class="col-sm-4 centerButtons">
							<button class="btn btn-lg" ng-click="bookingRules(0)">Last Minute</button>
						</div>
						<div class="col-sm-4 centerButtons">
							<button class="btn btn-lg" ng-click="bookingRules(1)">Early Bird</button>
						</div>
						<div class="col-sm-4 centerButtons">
							<button class="btn btn-lg" ng-click="bookingRules(2)">Date Bound</button>
						</div>
					</div>
				</div>

				<div class="well" ng-if="earlyBird">
					<br><br>
					Bookable only up until 
					<input type="text" size="4" ng-model="calendar.days">
					days prior to check-in
					<br><br>
					Active from <input type="date" ng-model="calendar.now"> to <input type="date" ng-model="calendar.to">
					<br><br>
					<button class="btn btn-success btn-sm" ng-click="addBookingRule('Early Bird')">Apply</button>
					<button class="btn btn-danger btn-sm" ng-click="cancelBookingRule()">Cancel</button>

				</div>

				<div class="well" ng-if="lastMinute">
					<br><br>
					Bookable only up until 
					<input type="text" size="4" ng-model="calendar.days">
					days prior to check-in
					<br><br>
					Active from <input type="date" ng-model="calendar.now"> to <input type="date" ng-model="calendar.to">
					<br><br>
					<button class="btn btn-success btn-sm" ng-click="addBookingRule('Last Minute')">Apply</button>
					<button class="btn btn-danger btn-sm" ng-click="cancelBookingRule()">Cancel</button>
				</div>

				<div class="well" ng-if="dateBound">
					<br><br>
					Stay dates <input type="date" ng-model="calendar.now"> to <input type="date" ng-model="calendar.to">
					<br><br><br>
					Book dates <input type="date" ng-model="calendar.bookNow"> to <input type="date" ng-model="calendar.bookTo">
					<br><br>
					<button class="btn btn-success btn-sm" ng-click="addBookingRule('Date Bound')">Apply</button>
					<button class="btn btn-danger btn-sm" ng-click="cancelBookingRule()">Cancel</button>
				</div>
				
			</div>
			<!-- display booking rule -->
			<div ng-show="!bookingRulesVisible">
				<div class="well" style="position: relative;">
					<h4 class="pull-left">{{ratePlanForm.bookingRule.name}}</h4>
					<button class="Edit btn btn-sm btn-info" ng-click="editBookingRule(ratePlanForm.bookingRule.name)">edit</button>
					<button class="Delete btn btn-sm btn-danger" ng-click="deleteBookingRule()">delete</button>
					<br><br>
				</div>
			</div>


			<div class="well" >
				<h3>Apply this rate plan to your rooms</h3>
				<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-lg" id="allRoomsBtn" style="margin-left: 20px" ng-click="chooseRoom('all')">All rooms</button>
					<br><br>
					<div ng-repeat="room in rooms track by $index">
						<button class="btn btn-lg roomsBtn" style="float: left; margin-left: 20px; margin-bottom: 10px;" ng-click="chooseRoom($index)">{{room.name}}</button>
					</div>
				</div>
				</div>
				<br>
			</div>
		</form>
		<button class="btn btn-lg btn-success customBtn" ng-click="toggleRatePlan(true)" style="left: 15px;"> < Rates </button>
		<button class="btn btn-lg btn-success customBtn" ng-click="editRatePlan()">Edit > </button>
		<br><br>
	</div><!-- END OF THE RATE PLAN EDIT PANEL -->


	<!-- RATE RULES VISIBLE UNLESS RATE PLAN EDIT PANEL IS CLOSED -->
	<div ng-if="rateRulesVisible">

	<!-- SEASONS MODAL -->
<div class="modal fade" id="seasonsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
             <h3 class="pull-left">Seasons</h3>
        </div>

      <div class="modal-body">
    <!--   DISPLAY EXISTING SEASONS -->
      	<div ng-if="seasons.length > 0">
			<div ng-repeat="season in seasons track by $index">
			<div class="well" ng-init="name = season.name;from = season.from; to = season.to">
				<div class="row">
					<div class="col-sm-8">

						<p class="bold" class="pull-left;" style="font-size: 120%;">{{season.name}} &nbsp &nbsp<small>({{season.from | date}} - {{season.to | date}})</small></p>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-md btn-default" ng-click="deleteSeason($index)">delete</button>
					</div>
					<div class="col-sm-2">
						 <span style="font-size: 200%;" ng-show="!season.isCollapse" ng-click="season.isCollapse = true">▼</span>
						 <span style="font-size: 200%;" ng-show="season.isCollapse" ng-click="season.isCollapse = false">▲</span>
					</div>
				</div>
				
			</div>
			<!-- EDIT COLLAPSE FOR EACH SEASON -->
				<div collapse="season.isCollapse">
					<div class="well" ng-if="season.isCollapse">
			          <div class="row" ng-init="to = season.to; from = season.from">
			            <div class="col-sm-4">
			              <span class="bold">Season name</span>
			              <input type="text" ng-model="name" placeholder="e.g. High season">
			            </div>
			            <div class="col-sm-4">
			              <span class="bold">From </span>
			              <input type="date" style="font-size: 1.23rem;" ng-model="from">
			            </div>
			            <div class="col-sm-4">
			              <span class="bold">To </span>
			              <input type="date" style="font-size: 1.23rem;" ng-model="to">
			            </div>
			          </div>
			          <div style="margin-left: 380px; margin-top: 20px;">
			           <button type="button" class="btn btn-default" ng-click="season.isCollapse = false" style="margin-right: 20px;">Close</button>
			           <button type="button" class="btn btn-primary" ng-click="editSeason(season.name,name, from, to)">Save</button>
			           </div>
					</div>
				</div>

			</div>
      	</div>

      	<!-- SEASONS FORM -->
        <div class="well" ng-if="seasons.length == 0 || seasonForm.visible">
          <div class="row">
            <div class="col-sm-4">
              <span class="bold">Season name</span>
              <div class="form-group">
              	<input type="text" ng-model="seasonForm.name" placeholder="e.g. High season">
              </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
              <span class="bold">From</span>
              <input type="date" style="font-size: 1.23rem;" ng-model="seasonForm.from">
             </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
              <span class="bold">To</span>
              <input type="date" style="font-size: 1.23rem;" ng-model="seasonForm.to">
            </div>
            </div>
          </div>
           <br>
           <div class="row">
           	<div class="col-sm-2 col-sm-offset-8">
           		<button type="button" class="btn btn-default" ng-click="cleanSeasonModal(true)">Close</button>
           	</div>
           	<div class="col-sm-2">
           		<button type="button" class="btn btn-primary" ng-click="saveSeason(seasonForm.name,seasonForm.from, seasonForm.to)" >Save</button>
           	</div>
           </div>
        </div> 

      </div>
          <div class="modal-footer" ng-if="seasons.length > 0">
        <button type="button" class="btn btn-success pull-left" ng-click="seasonForm.visible = true">Add a season </button>
        <button type="button" class="btn btn-primary pull-right" ng-click="cleanSeasonModal(true)">Close</button>
      </div>
    </div>
  </div>
</div>

	<!-- display all room types and related rate plans -->
	<div ng-repeat="room in rooms track by $index" style="position: relative;">
		<div class="box" ng-init="number = $index">
			<h3>{{room.name}}</h3>
			<!-- <span class="ratesCalendar">&nbsp Calender view &nbsp</span> -->
				<div ng-repeat="ratePlan in ratePlansRelated track by $index">
					<div ng-if="$index == number">
						<div ng-repeat="(key,val) in ratePlan">
							<div class="well" ng-init="name = val.name" ng-show="!ratePolicy[name]">
							<button class="btn btn-md btn-primary pull-right" ng-click="openRatePlan(name)">Edit Rate Plan </button>
								<h4 class="pull-left bold" ng-click="ratePolicy[name] = true; generateDays(true,10,name); checkIt(name)"><span ng-if="ifInherited(key)">↪</span>{{name}} &nbsp; ▼</h4>
								<br><br>
							</div>
							<!-- EDIT COLLAPSE -->
							<div collapse="ratePolicy[name]">
								<div  ng-show="ratePolicy[name]">
								<div id="dateMover" class="well">
									<div class="row">
										<div class="col-xs-2">
											<span class="bold"><<&nbsp;<span class="hidden-xs" ng-click="browseCalendar('left',30,name)">Month</span></span>
										</div>
										<div class="col-xs-2">
											<span class="bold"> <&nbsp;<span class="hidden-xs" ng-click="browseCalendar('left',7,name)">Week</span></span>
										</div>
										<div class="col-xs-4">
											<div class="form-group">
												<input type="date" class="dateMoverDate form-control" ng-model="currentDate.date" ng-change="changeDate(currentDate.date,name)">

											</div>
										</div>
										<div class="col-xs-2">
											<span class="bold"><span class="hidden-xs" ng-click="browseCalendar('right',7,name)">Week&nbsp;</span> > </span>
										</div>
										<div class="col-xs-2">
											<span class="bold"> <span class="hidden-xs" ng-click="browseCalendar('right',30,name)">Month&nbsp;</span> >> </span>
										</div>
									</div>
								</div>
								<div class="well">
										<!-- per person room table -->
										<div class="table-responsive dayTable" ng-if="val.per == 'room'">
											<table class="table borderless">
												<thead style="color: white; background: black;">
													<tr>
														<th></th>
														<th>
														{{displayedDates[0].dayOfWeek}} <br> &nbsp; {{displayedDates[0].day}}</th>
														<th>
														{{displayedDates[1].dayOfWeek}} <br> &nbsp; {{displayedDates[1].day}}</th>
														<th>
														{{displayedDates[2].dayOfWeek}} <br> &nbsp; {{displayedDates[2].day}}</th>
														<th>
														{{displayedDates[3].dayOfWeek}} <br> &nbsp; {{displayedDates[3].day}}</th>
														<th>
														{{displayedDates[4].dayOfWeek}} <br> &nbsp; {{displayedDates[4].day}}</th>
														<th>
														{{displayedDates[5].dayOfWeek}} <br> &nbsp; {{displayedDates[5].day}}</th>
														<th>
														{{displayedDates[6].dayOfWeek}} <br> &nbsp; {{displayedDates[6].day}}</th>
														<th>
														{{displayedDates[7].dayOfWeek}} <br> &nbsp; {{displayedDates[7].day}}</th>
														<th>
														{{displayedDates[8].dayOfWeek}} <br> &nbsp; {{displayedDates[8].day}}</th>
														<th>
														{{displayedDates[9].dayOfWeek}} <br> &nbsp; {{displayedDates[9].day}}</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th><h3 ng-click="ratePolicy[name] = false">{{name}}▲ </h3></th>
														
													</tr>
													<tr>
														<th>Price per room </th>
														<th> <input type="text" size="6" ng-model="displayedDates[0].price"></th>
														<th> <input type="text" size="6" ng-model="displayedDates[1].price"></th>
														<th> <input type="text" size="6" ng-model="displayedDates[2].price"></th>
														<th> <input type="text" size="6" ng-model="displayedDates[3].price"></th>
														<th> <input type="text" size="6" ng-model="displayedDates[4].price"></th>
														<th> <input type="text" size="6" ng-model="displayedDates[5].price"></th>
														<th> <input type="text" size="6" ng-model="displayedDates[6].price"></th>
														<th> <input type="text" size="6" ng-model="displayedDates[7].price"></th>
														<th> <input type="text" size="6" ng-model="displayedDates[8].price"></th>
														<th> <input type="text" size="6" ng-model="displayedDates[9].price"></th>
													</tr>
													<tr>
														<th>Length of Stay (min to max)</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[0].lengthOfStay,0,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[0].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(0)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(0)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[1].lengthOfStay,1,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[1].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(1)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(1)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[2].lengthOfStay,2,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[2].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(2)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(2)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[3].lengthOfStay,3,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[3].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(3)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(3)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[4].lengthOfStay,4,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[4].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(4)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(4)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[5].lengthOfStay,5,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[5].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(5)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(5)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[6].lengthOfStay,6,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[6].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(6)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(6)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[7].lengthOfStay,7,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[7].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(7)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(7)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[8].lengthOfStay,8,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[8].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(8)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(8)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[9].lengthOfStay,9,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[9].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(9)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(9)">
														</span>
														</th>
													</tr>
													<tr>
														<th>Closed to Arrival</th>
														<th><input type="checkbox" ng-model="displayedDates[0].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[1].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[2].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[3].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[4].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[5].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[6].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[7].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[8].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[9].closedToArrival"></th>
													</tr>
													<tr>
														<th>Closed to Departure</th>
														<th><input type="checkbox" ng-model="displayedDates[0].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[1].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[2].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[3].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[4].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[5].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[6].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[7].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[8].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[9].closedToDeparture"></th>
													</tr>
													<tr>
														<th>Stop Sale</th>
														<th><input type="checkbox" ng-model="displayedDates[0].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[1].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[2].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[3].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[4].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[5].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[6].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[7].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[8].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[9].stopSale"></th>
													</tr>
												</tbody>
											</table>
										</div> <!-- end of the per room table -->


										<!-- per person room table -->
										<div class="table-responsive dayTable" ng-if="val.per == 'person'">
											<table class="table borderless">
												<thead style="color: white; background: black;">
													<tr>
														<th></th>
														<th>
														{{displayedDates[0].dayOfWeek}} <br> &nbsp; {{displayedDates[0].day}}</th>
														<th>
														{{displayedDates[1].dayOfWeek}} <br> &nbsp; {{displayedDates[1].day}}</th>
														<th>
														{{displayedDates[2].dayOfWeek}} <br> &nbsp; {{displayedDates[2].day}}</th>
														<th>
														{{displayedDates[3].dayOfWeek}} <br> &nbsp; {{displayedDates[3].day}}</th>
														<th>
														{{displayedDates[4].dayOfWeek}} <br> &nbsp; {{displayedDates[4].day}}</th>
														<th>
														{{displayedDates[5].dayOfWeek}} <br> &nbsp; {{displayedDates[5].day}}</th>
														<th>
														{{displayedDates[6].dayOfWeek}} <br> &nbsp; {{displayedDates[6].day}}</th>
														<th>
														{{displayedDates[7].dayOfWeek}} <br> &nbsp; {{displayedDates[7].day}}</th>
														<th>
														{{displayedDates[8].dayOfWeek}} <br> &nbsp; {{displayedDates[8].day}}</th>
														<th>
														{{displayedDates[9].dayOfWeek}} <br> &nbsp; {{displayedDates[9].day}}</th>
													</tr>
												</thead>
													<tr>
														<th><h3 ng-click="ratePolicy[name] = false">{{name}}▲</h3></th>
													</tr>
													<tr>
														<th>1 adult (min.)</th>
														<th> <input type="text" size="6" ng-model="displayedDates[0].adultMin" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[1].adultMin" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[2].adultMin" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[3].adultMin" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[4].adultMin" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[5].adultMin" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[6].adultMin" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[7].adultMin" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[8].adultMin" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[9].adultMin" ></th>
													</tr>
													<tr>
														<th>2 adults (std)</th>
														<th> <input type="text" size="6" ng-model="displayedDates[0].adultStd" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[1].adultStd" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[2].adultStd" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[3].adultStd" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[4].adultStd" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[5].adultStd" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[6].adultStd" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[7].adultStd" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[8].adultStd" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[9].adultStd" ></th>
													</tr>
													<tr>
														<th>Additional adult</th>
														<th> <input type="text" size="6" ng-model="displayedDates[0].adultAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[1].adultAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[2].adultAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[3].adultAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[4].adultAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[5].adultAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[6].adultAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[7].adultAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[8].adultAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[9].adultAdditional" ></th>
													</tr>
													<tr>
														<th>Additional child</th>
														<th> <input type="text" size="6" ng-model="displayedDates[0].childAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[1].childAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[2].childAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[3].childAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[4].childAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[5].childAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[6].childAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[7].childAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[8].childAdditional" ></th>
														<th> <input type="text" size="6" ng-model="displayedDates[9].childAdditional" ></th>
													</tr>
													<tr>
														<th>Length of Stay (min to max)</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[0].lengthOfStay,0,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[0].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(0)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(0)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[1].lengthOfStay,1,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[1].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(1)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(1)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[2].lengthOfStay,2,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[2].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(2)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(2)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[3].lengthOfStay,3,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[3].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(3)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(3)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[4].lengthOfStay,4,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[4].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(4)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(4)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[5].lengthOfStay,5,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[5].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(5)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(5)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[6].lengthOfStay,6,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[6].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(6)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(6)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[7].lengthOfStay,7,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[7].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(7)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(7)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[8].lengthOfStay,8,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[8].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(8)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(8)">
														</span>
														</th>
														<th class="toolTip" ng-click="activateTooltip(displayedDates[9].lengthOfStay,9,name)"> 
														<input type="text" size="6" class="toolTipInput" ng-model="displayedDates[9].lengthOfStay" readonly>
														<span class="toolTiptext">
														<span class="invisible">{{name}}</span>
															<input type="text"  class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[0]" ng-change="watchStay(9)">
															 - 
														<input type="text" class="toolTipInput input-sm" size="3" maxlength="3" ng-model="newRule.stay[1]"
														ng-change="watchStay(9)">
														</span>
														</th>
													</tr>
													<tr>
														<th>Closed to Arrival</th>
														<th><input type="checkbox" ng-model="displayedDates[0].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[1].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[2].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[3].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[4].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[5].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[6].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[7].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[8].closedToArrival"></th>
														<th><input type="checkbox" ng-model="displayedDates[9].closedToArrival"></th>
													</tr>
													<tr>
														<th>Closed to Departure</th>
														<th><input type="checkbox" ng-model="displayedDates[0].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[1].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[2].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[3].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[4].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[5].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[6].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[7].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[8].closedToDeparture"></th>
														<th><input type="checkbox" ng-model="displayedDates[9].closedToDeparture"></th>
													</tr>
													<tr>
														<th>Stop Sale</th>
														<th><input type="checkbox" ng-model="displayedDates[0].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[1].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[2].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[3].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[4].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[5].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[6].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[7].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[8].stopSale"></th>
														<th><input type="checkbox" ng-model="displayedDates[9].stopSale"></th>
													</tr>
											</table>
										</div><!-- end of the per person table -->
										<button class="btn btn-sm btn-info" ng-click="moreDates(name,room.name)">Apply to more dates</button>
								</div> 
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>

	<!-- add rate rule modal -->

	<div class="modal fade" id="ratesModal" role="dialog">
    	<div class="modal-dialog">
    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" ng-click="cleanModal()">&times;</button>
	          <h3 class="modal-title">Apply to more dates</h3>
			  <h4>({{newRule.roomName}} / {{newRule.ratePlanName}})</h4>
	        </div>
	        <!-- body -->
	        <div class="modal-body">
	          <form class="form-horizontal">      	
	        	<!-- <div class="form-group well">
				    <label class="control-label col-sm-3" for="ruleName">Rate rule name</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="ruleName" placeholder="e.g. My rate rule name 1" ng-model="newRule.name">
				    </div>
	        	</div> -->
	        	<div class="form-group well" ng-if="newRule.per == 'room' ">
				    <label class="control-label col-sm-3" for="perRoom">Price per room &nbsp;£</label>
				    <div class="col-sm-2">
				       <input type="text" class="form-control" id="perRoom" ng-model="newRule.price">
				    </div>
	        	</div>

	        	<div class="form-group well" ng-if="newRule.per == 'person'">
	        		<label class="control-label col-sm-3" for="adultMin">adult (min.) £</label>
				    <div class="col-sm-2">
				       <input type="text" class="form-control" id="adultMin" ng-model="newRule.adultMin">
				    </div>
				    <label class="control-label col-sm-3" for="adultStd">adult (std.) £</label>
				    <div class="col-sm-2">
				       <input type="text" class="form-control" id="adultStd" ng-model="newRule.adultStd">
				    </div>
				    <label class="control-label col-sm-3" for="adultAdditional">Additional Adult £</label>
				    <div class="col-sm-2">
				       <input type="text" class="form-control" id="adultAdditional" ng-model="newRule.adultAdditional">
				    </div>
				    <label class="control-label col-sm-3" for="childAdditional">Additional Child £</label>
				    <div class="col-sm-2">
				       <input type="text" class="form-control" id="childAdditional" ng-model="newRule.childAdditional">
				    </div>
	        	</div>
	        	<div class="form-group well">
				    <label class="control-label col-sm-3" for="days">On these days</label>
				    <div class="col-sm-9">
				       <ul id="days">
				       	<li class="days"><button ng-click="assignDays('days','all')">All</button></li>
				       	<li class="days"><button ng-click="assignDays('days','Mon')">Mon</button></li>
				       	<li class="days"><button ng-click="assignDays('days','Tue')">Tue</button></li>
				       	<li class="days"><button ng-click="assignDays('days','Wed')">Wed</button></li>
				       	<li class="days"><button ng-click="assignDays('days','Thu')">Thu</button></li>
				       	<li class="days"><button ng-click="assignDays('days','Fri')">Fri</button></li>
				       	<li class="days"><button ng-click="assignDays('days','Sat')">Sat</button></li>
				       	<li class="days"><button ng-click="assignDays('days','Sun')">Sun</button></li>
				       </ul>
				    </div>
	        	</div>
	        	<div class="well form-group">
	        		<div class="form-group">
					    <label class="control-label col-sm-3" for="minStay">Minimum stay</label>
					    <div class="col-sm-2">
					       <input type="text" class="form-control" id="minStay" ng-model="newRule.minStay">
					    </div>
				    </div>
				    <div class="form-group">
					    <label class="control-label col-sm-3" for="maxStay">Maximum stay</label>
					    <div class="col-sm-2">
					       <input type="text" class="form-control" id="maxStay" ng-model="newRule.maxStay" >
					    </div>
					 </div>
				 </div>
				 <div class="form-group well">
				    <label class="control-label col-sm-3" for="daysArrival">Closed to arrival</label>
				    <div class="col-sm-9">
				       <ul id="daysArrival">
				       	<li class="daysArrival"><button ng-click="assignDays('arrival','all')">All</button></li>
				       	<li class="daysArrival"><button ng-click="assignDays('arrival','Mon')">Mon</button></li>
				       	<li class="daysArrival"><button ng-click="assignDays('arrival','Tue')">Tue</button></li>
				       	<li class="daysArrival"><button ng-click="assignDays('arrival','Wed')" >Wed</button></li>
				       	<li class="daysArrival"><button ng-click="assignDays('arrival','Thu')" >Thu</button></li>
				       	<li class="daysArrival"><button ng-click="assignDays('arrival','Fri')" >Fri</button></li>
				       	<li class="daysArrival"><button ng-click="assignDays('arrival','Sat')" >Sat</button></li>
				       	<li class="daysArrival"><button ng-click="assignDays('arrival','Sun')">Sun</button></li>
				       </ul>
				    </div>
	        	</div>
	        	 <div class="form-group well">
				    <label class="control-label col-sm-3" for="daysDeparture">Closed to departure</label>
				    <div class="col-sm-9">
				       <ul id="daysDeparture">
				       	<li class="daysDeparture"><button  ng-click="assignDays('departure','all')">All</button></li>
				       	<li class="daysDeparture"><button  ng-click="assignDays('departure','Mon')">Mon</button></li>
				       	<li class="daysDeparture"><button  ng-click="assignDays('departure','Tue')">Tue</button></li>
				       	<li class="daysDeparture"><button  ng-click="assignDays('departure','Wed')">Wed</button></li>
				       	<li class="daysDeparture"><button  ng-click="assignDays('departure','Thu')">Thu</button></li>
				       	<li class="daysDeparture"><button  ng-click="assignDays('departure','Fri')">Fri</button></li>
				       	<li class="daysDeparture"><button  ng-click="assignDays('departure','Sat')">Sat</button></li>
				       	<li class="daysDeparture"><button  ng-click="assignDays('departure','Sun')">Sun</button></li>
				       </ul>
				    </div>
	        	</div>
	        	 <div class="form-group well">
				    <label class="control-label col-sm-3" for="daysStopSale">Stop Sale</label>
				    <div class="col-sm-9">
				       <ul id="daysStopSale">
				       	<li class="daysStopSale"><button  ng-click="assignDays('stopSale','all')">All</button></li>
				       	<li class="daysStopSale"><button  ng-click="assignDays('stopSale','Mon')">Mon</button></li>
				       	<li class="daysStopSale"><button  ng-click="assignDays('stopSale','Tue')">Tue</button></li>
				       	<li class="daysStopSale"><button  ng-click="assignDays('stopSale','Wed')">Wed</button></li>
				       	<li class="daysStopSale"><button  ng-click="assignDays('stopSale','Thu')">Thu</button></li>
				       	<li class="daysStopSale"><button  ng-click="assignDays('stopSale','Fri')">Fri</button></li>
				       	<li class="daysStopSale"><button  ng-click="assignDays('stopSale','Sat')">Sat</button></li>
				       	<li class="daysStopSale"><button  ng-click="assignDays('stopSale','Sun')">Sun</button></li>
				       </ul>
				    </div>
	        	</div>
	        	<div class="well">
	        			<div class="form-group">
					    <label class="control-label col-sm-3" for="apply">Apply &nbsp;</label>
					    <div class="col-sm-9">
					      	<select id="apply" ng-model="newRule.selectedSeason">
					      		<option selected disabled="true">Choose a saved season</option>
					      		<option ng-repeat="season in seasons">{{season.name}}</option>
					      	</select>
					    </div>
					    </div>
					<span class="bold" style="margin-left: 85px;">Or</span>
						<div class="row">
							<ul class="col-sm-12" id="season">
								<li class="season"><input type="date" ng-model="newRule.startDate"></li>
								<li class="season"><span class="bold">to</span></li>
								<li class="season"><input type="date" ng-model="newRule.endDate"></li>
								<li class="season"><input type="text" size="20" ng-model="newRule.seasonName" placeholder="Season name (optional)"></li>
								<li class="season"><button ng-click="saveSeason(newRule.seasonName,newRule.startDate,newRule.endDate)">Save</button></li>
							</ul>

						</div>
				</div>
			<!-- 	<div class="well">
					<div class="row">
						<div class="col-xs-3"><span class="bold">Add to room types</span></div>
						<div class="col-xs-3"><button class="btn btn-md  addRoom" style="margin-left: 20px" ng-click="assignRoom('one')">{{newRule.roomName}} </button></div>
						<div class="col-xs-3"><button class="btn btn-md addRoom" style="margin-left: 40px" ng-click="assignRoom('all')">&nbsp;&nbsp;&nbsp; All &nbsp;&nbsp;&nbsp;</button></div>
						<div class="col-xs-3" style="margin-left: -20px"><button class="btn btn-md addRoom" ng-click="assignRoom('some')">&nbsp;&nbsp; Some &nbsp;&nbsp;</button></div>
					</div>
					<div ng-if="visibleRooms" class="roomsRates">
						<br>
						<div ng-repeat="room in rooms">
							<button class="btn certainRoom" ng-click="certainRoom(room.name)">{{room.name}}</button>
							<br><br>
						</div>
					</div>
				</div>
				<div class="well">
					<div class="row">
						<div class="col-xs-3"><span class="bold">Add to rate  plans</span></div>
						<div class="col-xs-3"><button class="btn btn-md  addRate" style="margin-left: 20px" ng-click="assignRates('one')">{{newRule.ratePlanName}}</button></div>
						<div class="col-xs-3"><button class="btn btn-md addRate" style="margin-left: 40px" ng-click="assignRates('all')">&nbsp;&nbsp;&nbsp; All &nbsp;&nbsp;&nbsp;</button></div>
						<div class="col-xs-3" style="margin-left: -20px"><button ng-click="assignRates('some')" class="btn btn-md addRate">&nbsp;&nbsp; Some &nbsp;&nbsp;</button></div>
					</div>
					<div ng-if="visibleRates" class="roomsRates">
						<br>
						<div ng-repeat="rate in ratePlans">
							<button class="btn certainRate" ng-click="certainRate(rate.name)">{{rate.name}}</button>
							<br><br>
						</div>
					</div>
				</div> -->
	        </form>
	        </div>
			<!-- footer -->
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default pull-left btn-lg" data-dismiss="modal" ng-click="cleanModal()">Close</button>
	           <button type="button" class="btn btn-success pull-right btn-lg" ng-click="imposeDates(newRule.per,newRule.ratePlanName)">Apply Dates</button>
	        </div>
	      </div>
      
    </div>
  </div>
  
</div>

	<!-- <br><br>
		<button class="btn btn-lg btn-success customBtn" ng-click="saveDates()">Continue > </button>
	<br><br><br> -->

</div> <!-- END OF THE RATE RULES -->

	</div>