#Policy, #RatePlan, #Rates{
	position: relative;
	width: 100%;
}

/*policies*/
.bold{
	font-weight: bold;
}
.customBtn{
	position: absolute;
    right: 15px;
}
.box{
	padding-bottom: 2em;
}
.formInput{
	margin-left: 2.4em;
}
.formEnd{
	width: 95%;
	margin: 0 auto;
	border-top: 2px solid black;
	padding-top: 1%;
}
.formEndBtn{
	float: right;
}
.lineThrough{
   font-size: 130%;
   width: 100%; 
   text-align: center; 
   border-bottom: 2px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 
.lineThrough span{ 
    background:rgb(234,234,234); 
    padding:0 10px; 
}
.rangeInput{
	width: 40%!important;
	vertical-align: middle;
}
.form-group.form-group--range{
  display: flex;
  align-items: center;
}
.policyRepeat{
	font-size: 125%;
	font-weight: bold;
}
.Edit{
	position:absolute; 
	right: 3%; 
	top: 35%;
}
.Delete{
	position:absolute; 
	right: 10%; 
	top: 35%;
}
#collapseDepositsAdditional{
	padding-top: 2em;
}
#collapseDepositsAdditional p{
	text-decoration: underline;
}


/*rate plans*/

.dragAndDropBtn{
	border: 2px black dotted;
	width: 200px;
	height: 75px;
	font-size: 90%;
}

#dragAndDrop{
	border: 1px solid black;
	position: relative;
	border-radius: 15px;
	/*width: 75%;*/
	/*margin-bottom: 30px;
	margin-left: 120px;*/
	font-size: 130%;
	margin-bottom: 70px;

}
#ratePlanHeader{
	margin-bottom: 0px;
}

.choosedRoom{
	text-decoration: underline;
}
.clickedRooms{
	background: lightgreen;
}
.test{
	background-color: red!important;
}

.wellInherit{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: lightgrey;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#pricing .btn-lg{
	width: 75%;
	padding: 18px 28px;
    font-size: 18px; 
}

.centerButtons{
	text-align: center;
}

#bookingRules .btn-lg{
	width: 75%;

}

/*rates*/
#ratesHead{
	border-bottom: 1px solid black;
}

#ratesModal{
	width: 100%;
	margin: 20px auto;
}

#ratesModal .modal-content{
	width: 115%;
	max-width: 800px;
}
#ratesModal .well{
	width: 98%;
	margin: 7px auto;
}

#seasonsModal .well{
	margin: 7px auto;
}

table.borderless td,table.borderless th{
     border: none !important;
}
.ratesCalendar{
	background: black;
	border: 1px solid black;
	border-radius: 5%;
	color: white;
	position: absolute;
	right: 10px;
	top: 3px;
}
.dayList li{
	display: inline-block;
	list-style: none;
	padding-right: 25px;
	float: left;
}
.dayList{
	float: left;
	padding-top: 7px;
}

.roomsRates{
	margin: 10px auto;
	width: 65%;
	border-top: 1px solid black;
}
#dayHeadLine{
	background: black;
	height: 60px;
	color: white;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
}

#days, #daysArrival,#daysDeparture, #season{
	list-style: none;
	float: left;
}
.days, .daysArrival, .daysDeparture, .daysStopSale, .season{
	display: inline;
	border: none;
}

#season{
	margin-left: 75px;
}

.toolTip {
    position: relative;
   /* display: inline-block;*/
    border-bottom: 1px dotted black;
}

.toolTip .toolTiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
  /*  color: #fff;*/
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.invisible{
	display: none;
}


/* media */

@media screen and (max-width: 680px){
	.Delete{
		right: 16%; 
	}
}


